.container-section5 {
    width: 95%;
    height: auto;
    background-color: blueviolet;
    margin: 2.5% 0 0 2.5%;
    
}

.text-color {
    color: white;
    text-align: center;
}


.header-section5 {
  padding-top: 40px;
}

.main-container-section5 {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 10%;
}

.flex-box {
    margin: auto;
    height: 25%;
}

.img {
    width: 30px;
    height: 30px;
}

@media(max-width: 1200) {
    .flex-box {
        height: 35%;
    }
}
@media(max-width: 768) {
    .flex-box {
        height: 85%;
    }
}