.main-container {
    width: 78%;
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 20%;
    padding-top: 2%;
    margin: 20px 20px 20px 20px;
    /* justify-content: space-around; */
}



.main-box {
    /* text-align: left; */
    width: 30%;
    /* height: 600px; */
    /* padding: 10%; */
}

.list {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    /* padding-left: 50px; */
    text-align: left;
}

.svg {
    margin: 5px;
}

@media(max-width: 1200px) {
    .main-box {
      width: 70%;
    }
    /* .main-container{
        height: 1300px;
    } */
     
  }
@media(max-width: 768px) {
    .main-box {
      width: 70%;
    }
    /* .main-container {
        height: 1800px;
    } */
    /* .main-box {
        height: 850px;
    } */
    /* .main-container{
        height: 1000px; 
    } */
     
  }